.MainContent {
    margin-top: 1.3rem;
    width: 30%;
    border-radius: 8px;
    flex-grow: 1;
    margin-left: 1rem;
    padding: 0;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.StatsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.FinancialSection {
    background-color: white;
    box-shadow: 0px 4px 15px #ECECEC;
    padding: 20px;
    border-radius: 8px;
}
.ChartArticle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.ChartSection {
    background-color: white;
    box-shadow: 0px 4px 15px #ECECEC;
    padding: 2rem;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.ChartSection:active {
    transform: scale(0.95);
    box-shadow: none;
  }

