.Store {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F6F6F6;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0.5rem;
}